In [ ]:
def number_sum(num1,num2):
    result=num1+num2
    return result

In [ ]:
number_sum(3,10)

In [ ]:
#예제 
#두수를 입력 받아 그 차이를 리턴하는 함수를 정의하시오

def number_minus(num1,num2):
    result=0
    if abs(num1)> abs(num2):
        result=num1-num2
    else : 
        result=num2-num1
        
    return result

num1=int(input("첫번째 정수 입력>>"))
num2=int(input("두번째 정수입력>>"))

result= number_minus(num1,num2)
result

In [ ]:
#예제 
#두수를 입력 받아 그 차이를 리턴하는 함수를 정의하시오

def number_minus(num1,num2):
    result=0
    result=num1-num2
        
    return abs(result)

num1=int(input("첫번째 정수 입력>>"))
num2=int(input("두번째 정수입력>>"))

result= number_minus(num1,num2)
result

In [ ]:
# 선생님 코드

# 함수 선언!
def number_minus(num1, num2) :
    result = 0
    if num1 > num2 :
        result = num1 - num2
    else :
        result = num2 - num1
    return result



num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = number_minus(num1, num2)
result

In [ ]:
#함수 연습문제 
#문자열을 입력받아 "ㅋ"를 제거하고 return하는 함수를 정의 하시오

# 함수 정의

def s_replace(arg):
    if  'ㅋ' in arg:
        result=arg.replace('ㅋ','')
        
    return result

s=input("들어갈 입력값을 입력하시오>>")

result= s_replace(s)
result

In [ ]:
# 함수 예제 
# 두수를 입력 받아서 원하는 연산을 수행하는 함수를 정의하시오.

#함수 만들기 
def cal(num1, num2, op):
    yeonsan=0
    if op=="+":
        yeonsan=num1+num2
    else:
        yeonsan=num1-num2
    
    return yeonsan

In [ ]:
num1=int(input("첫번째 정수 입력>>"))
num2=int(input("두번째 정수 입력>>"))

op=input("연산자 입력(+,-)>>")

result= cal(num1,num2,op)
result

### 선생님 코드

In [ ]:

def cal(num1,num2,op):
    """덧셈과 뺄셈을 계산하는 함수입니다."""
    if op=="+":
        result=num1+num2
        
    else:
        reult=num1-num2
        
    return result

In [ ]:
num1=int(input("첫번째 정수 입력>>"))
num2=int(input("두번째 정수 입력>>"))

op=input("연산자 입력(+,-)>>")
result=cal(num1,num2,op)
print(f"결과:{result}")

In [ ]:
# 함수 예제
#약수를 구하는 함수를 정의하시오

#함수정의
def divisor(arg):
    for i in range(1,arg+1):
        if arg %i==0:
            print(i,end=" ")

In [ ]:
divisor(10)

In [ ]:
divisor(30)

In [ ]:
#가변 매개변수를 활용해 모든 숫자를 더해서 반환하는 함수를 작성하시오

#함수 정의
def add(*arg):
    result=sum(arg)
    return result

In [ ]:
add(1,2,3)

In [ ]:
add(1,2,3,55,6,7,8,9,10,44,55,32,6,7)

In [1]:
# 네이버 영화 리뷰 분석
import pickle

#pickle:리스트와 같은 자료구조 자체를 저장하거나 불러오게 해주는 라이브러리(기능들의 집합)


#pickle모듈을 이용하여 데이터 로드

with open('data/movie_review.pkl','rb') as f:
    my=pickle.load(f)

In [2]:
review_naver = ["월 스미스가 하드캐리ㅋㅋㅋㅋㅋㅋㅋ",
               "쟈스민 너무 멋지고 팬 엄청나게 생길듯ㅋㅋ",
               "기대보다 더욱 재밌는 영화였다^^"
               ]
review_google = ["색감도 노래도 너무 화려하고 재밌었어요ㅋㅋㅋ",
               "오늘부터 디즈니 팬입니다ㅋㅋㅋ",
               "디즈니의 새로운 해석도 놀랍고, 윌스미스도 신의한수!"
                ]

In [5]:

def remove_z(args):
    result=[]
    for i in args:
        result.append(i.replace("ㅋ",""))
        
    return result

In [6]:
print(remove_z(review_naver))

['월 스미스가 하드캐리', '쟈스민 너무 멋지고 팬 엄청나게 생길듯', '기대보다 더욱 재밌는 영화였다^^']

In [7]:
print(remove_z(review_google))

['색감도 노래도 너무 화려하고 재밌었어요', '오늘부터 디즈니 팬입니다', '디즈니의 새로운 해석도 놀랍고, 윌스미스도 신의한수!']