In [1]:
day=7
s='오늘은 7월 %d일 입니다.'%day
s

'오늘은 7월 7일 입니다.'

In [2]:
month=7
day=7
s='오늘은 %d월 %d 일입니다'%(month, day)
s

'오늘은 7월 7 일입니다'

In [3]:
month=7
day=7
s='오늘은 {}월 {}일입니다'.format(month, day)
s

'오늘은 7월 7일입니다'

# 문자열의 포멧팅 공부중

In [4]:
month=7
day=7
s=f'오늘은 {month}월 {day}일 입니다.'
s

'오늘은 7월 7일 입니다.'

In [5]:
x=100
y=200
sum2=x+y
print(f"{x}와 {y}의 합은 {sum2}입니다")

100와 200의 합은 300입니다

# 자주 사용하는 문자열 함수

In [6]:
#count 함수: 문자열에 포함된 문자 개수 세기
s=' 오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.'

s.count('탕수육')

3

In [9]:
s.count(' ')

10

In [10]:
s='    오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.      '
s

'    오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.      '

In [11]:
s.strip()

'오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.'

In [12]:
s=' 오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.'
s.replace('탕수육','마라탕')

' 오늘 점심 메뉴는 마라탕입니다. 저는 마라탕을 매우 좋아해서 마라탕만 먹을겁니다.'

In [13]:
s

' 오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.'

In [14]:
s.split()

['오늘', '점심', '메뉴는', '탕수육입니다.', '저는', '탕수육을', '매우', '좋아해서', '탕수육만', '먹을겁니다.']

# 연산자

In [15]:
num1=10
num2=7
print(num1/num2)
print(num1%num2)
print(num1//num2)

1.4285714285714286
3
1

In [16]:
#문자열 더하기
str1='안녕'
str2='하세요'

print(str1+str2)

안녕하세요

In [17]:
str1='10'
str2='7'

print(str1+str2)

107

In [19]:
num=10
str2='7'

print(str(num)+str2)

107

In [20]:
num1=23
num2=3

print("더하기 결과:", num1+num2)
print("빼기 결과:", num1-num2)
print("곱하기 결과:",num1*num2)
print("나누기 결과:",num1/num2)

더하기 결과: 26
빼기 결과: 20
곱하기 결과: 69
나누기 결과: 7.666666666666667

In [22]:
num1=input("정수를 입력하세요>>")

정수를 입력하세요>>133

In [23]:
num1

'133'

In [24]:
num1=int(input("정수를 입력하세여>>"))

정수를 입력하세여>>133

In [25]:
num1

133

In [26]:
num1=int(input("정수를 입력하세요>>"))
num2=int(input("정수를 입력하세요>>"))

print("더하기 결과:", num1+num2)
print("빼기 결과:", num1-num2)
print("곱하기 결과:",num1*num2)
print("나누기 결과:",num1/num2)

정수를 입력하세요>>3
정수를 입력하세요>>7
더하기 결과: 10
빼기 결과: -4
곱하기 결과: 21
나누기 결과: 0.42857142857142855

In [28]:
python=int(input("python 점수 입력>>"))
machin=int(input("machin 점수 입력>>"))
deep=int(input("deep 점수 입력>>"))

sum1=python+machin+deep
mean=sum1/3

print("합계:{}".format(sum1))
print("평균:{}".format(mean))

python 점수 입력>>100
machin 점수 입력>>80
deep 점수 입력>>60
합계:240
평균:80.0

In [37]:
time=int(input("시간 입력>>"))
hour=time//3600
minute=time//60%60
second=time%60
print("{}시간 {}분 {}초".format(hour, minute,second))

시간 입력>>3723
1시간 2분 3초

In [38]:
# 위에 정답 
time=int(input("시간 입력>>"))
hour=time//3600


print("{}시간 {}분 {}초".format(hour, minute,second))

시간 입력>>7533
2시간 2분 3초

In [39]:
s="x"
print(s*10)

xxxxxxxxxx

In [40]:
s="안녕하세요"
print(s*2)

안녕하세요안녕하세요

In [42]:
print("************연산하기*********")
num1=int(input("정수입력>>"))
num2=int(input("정수입력>>"))
cal=input("+연산자 입력>>")
print("{}{}{}= {}".format(num1,cal,num2,num1+num2))

************연산하기*********
정수입력>>10
정수입력>>20
+연산자 입력>>+
10+20= 30

In [48]:
num=int(input("정수 입력>>"))
power=int(input("지수입력>>"))
print(f"{num}의 {power}승은 {num**power}입니다.")

정수 입력>>10
지수입력>>30
10의 30승은 1000000000000000000000000000000입니다.

In [49]:
a=3
b=7
print(a>b)
print(a<=b)
print(a==b)
print(a != b)

False
True
False
True

In [50]:
import random

a=random.randint(1,10)
b=random.randint(1,10)

print("a:{},b:{}".format(a,b))

print(a<b)
print(a>b)
print(a==b)
print(a != b)

a:7,b:1
False
True
False
True

In [52]:
a=3
b=7
not a<b

False

In [53]:
3>5 and 10==20

False

In [54]:
3>5 and 10<20

False

In [55]:
3<5 and 10<20

True

In [56]:
3>5 or 10==20

False

In [57]:
3>5 or 10<20

True

In [58]:
3<5 or 10<20

True

In [59]:
score=80

"합격" if score >= 60 else "불합격"

'합격'

In [60]:
score=50
"합격" if score >= 60 else "불합격"

'불합격'

In [62]:
a= int(input("정수입력>>"))
b=int(input("정수입력>>"))

print("a:",a) if a>=b else print("b:", b)

정수입력>>3
정수입력>>10
b: 10

In [64]:
a= int(input("첫번째 정수입력>>"))
b=int(input("두번째 정수입력>>"))

print("두수의 차:",a-b) if a>b else print("두수의차:",b-a)

정수입력>>33
정수입력>>5
두수의 차: 28

In [72]:
a=int(input("정수입력>>"))

print(f"{a}는 짝수 입니다") if a%2 ==0 else print(f"{a}는 홀수 입니다")

정수입력>>5
5는 홀수 입니다