# 서울시 인구 데이터 분석

In [4]:
# 라이브러리 import
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 6.2 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 23.0 -> 23.1.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
# 데이터 파일 read
df = pd.read_excel('seoul_popular_data.xls', header=1, usecols="B, D, G, J, N")
df

     자치구       합계      한국인   등록외국인  65세이상고령자
0    자치구        계        계       계  65세이상고령자
1     합계  9732617  9506778  225839   1628980
2    종로구   153684   144275    9409     28064
3     중구   131450   122173    9277     24742
4    용산구   236518   222169   14349     39461
5    성동구   291609   285073    6536     46896
6    광진구   353110   340707   12403     52604
7   동대문구   352592   337982   14610     62963
8    중랑구   393600   389043    4557     72851
9    성북구   442680   433150    9530     75719
10   강북구   300824   297384    3440     64961
11   도봉구   318100   316098    2002     65122
12   노원구   514445   510486    3959     89426
13   은평구   476013   472259    3754     88418
14  서대문구   317075   305866   11209     55012
15   마포구   378629   368331   10298     55168
16   양천구   449378   446182    3196     69953
17   강서구   578426   573046    5380     93924
18   구로구   419984   396017   23967     73864
19   금천구   244901   231098   13803     41819
20  영등포구   400241   376740   23501     63547
21   동작구   394649   386017    8632     67470
22   관악구   500336   486375   13961     80686
23   서초구   413677   409823    3854     61404
24   강남구   537338   532577    4761     79575
25   송파구   668261   662607    5654     99854
26   강동구   465097   461300    3797     75477

In [15]:
# 컬럼명 변경:
# (자치구 -> 구, 합계 -> 인구수, 등록외국인 -> 외국인, 65세이상고령자 -> 고령자)

df.columns = ['구', '인구수', '한국인', '외국인', '고령자']
df

       구      인구수      한국인     외국인       고령자
0    자치구        계        계       계  65세이상고령자
1     합계  9732617  9506778  225839   1628980
2    종로구   153684   144275    9409     28064
3     중구   131450   122173    9277     24742
4    용산구   236518   222169   14349     39461
5    성동구   291609   285073    6536     46896
6    광진구   353110   340707   12403     52604
7   동대문구   352592   337982   14610     62963
8    중랑구   393600   389043    4557     72851
9    성북구   442680   433150    9530     75719
10   강북구   300824   297384    3440     64961
11   도봉구   318100   316098    2002     65122
12   노원구   514445   510486    3959     89426
13   은평구   476013   472259    3754     88418
14  서대문구   317075   305866   11209     55012
15   마포구   378629   368331   10298     55168
16   양천구   449378   446182    3196     69953
17   강서구   578426   573046    5380     93924
18   구로구   419984   396017   23967     73864
19   금천구   244901   231098   13803     41819
20  영등포구   400241   376740   23501     63547
21   동작구   394649   386017    8632     67470
22   관악구   500336   486375   13961     80686
23   서초구   413677   409823    3854     61404
24   강남구   537338   532577    4761     79575
25   송파구   668261   662607    5654     99854
26   강동구   465097   461300    3797     75477

In [16]:
# 합계행 제거
df.drop([0], inplace=True)
df

       구      인구수      한국인     외국인      고령자
1     합계  9732617  9506778  225839  1628980
2    종로구   153684   144275    9409    28064
3     중구   131450   122173    9277    24742
4    용산구   236518   222169   14349    39461
5    성동구   291609   285073    6536    46896
6    광진구   353110   340707   12403    52604
7   동대문구   352592   337982   14610    62963
8    중랑구   393600   389043    4557    72851
9    성북구   442680   433150    9530    75719
10   강북구   300824   297384    3440    64961
11   도봉구   318100   316098    2002    65122
12   노원구   514445   510486    3959    89426
13   은평구   476013   472259    3754    88418
14  서대문구   317075   305866   11209    55012
15   마포구   378629   368331   10298    55168
16   양천구   449378   446182    3196    69953
17   강서구   578426   573046    5380    93924
18   구로구   419984   396017   23967    73864
19   금천구   244901   231098   13803    41819
20  영등포구   400241   376740   23501    63547
21   동작구   394649   386017    8632    67470
22   관악구   500336   486375   13961    80686
23   서초구   413677   409823    3854    61404
24   강남구   537338   532577    4761    79575
25   송파구   668261   662607    5654    99854
26   강동구   465097   461300    3797    75477

In [17]:
df.drop([1], inplace=True)
df

       구     인구수     한국인    외국인    고령자
2    종로구  153684  144275   9409  28064
3     중구  131450  122173   9277  24742
4    용산구  236518  222169  14349  39461
5    성동구  291609  285073   6536  46896
6    광진구  353110  340707  12403  52604
7   동대문구  352592  337982  14610  62963
8    중랑구  393600  389043   4557  72851
9    성북구  442680  433150   9530  75719
10   강북구  300824  297384   3440  64961
11   도봉구  318100  316098   2002  65122
12   노원구  514445  510486   3959  89426
13   은평구  476013  472259   3754  88418
14  서대문구  317075  305866  11209  55012
15   마포구  378629  368331  10298  55168
16   양천구  449378  446182   3196  69953
17   강서구  578426  573046   5380  93924
18   구로구  419984  396017  23967  73864
19   금천구  244901  231098  13803  41819
20  영등포구  400241  376740  23501  63547
21   동작구  394649  386017   8632  67470
22   관악구  500336  486375  13961  80686
23   서초구  413677  409823   3854  61404
24   강남구  537338  532577   4761  79575
25   송파구  668261  662607   5654  99854
26   강동구  465097  461300   3797  75477

In [18]:
new_df = df.reset_index()
new_df

    index     구     인구수     한국인    외국인    고령자
0       2   종로구  153684  144275   9409  28064
1       3    중구  131450  122173   9277  24742
2       4   용산구  236518  222169  14349  39461
3       5   성동구  291609  285073   6536  46896
4       6   광진구  353110  340707  12403  52604
5       7  동대문구  352592  337982  14610  62963
6       8   중랑구  393600  389043   4557  72851
7       9   성북구  442680  433150   9530  75719
8      10   강북구  300824  297384   3440  64961
9      11   도봉구  318100  316098   2002  65122
10     12   노원구  514445  510486   3959  89426
11     13   은평구  476013  472259   3754  88418
12     14  서대문구  317075  305866  11209  55012
13     15   마포구  378629  368331  10298  55168
14     16   양천구  449378  446182   3196  69953
15     17   강서구  578426  573046   5380  93924
16     18   구로구  419984  396017  23967  73864
17     19   금천구  244901  231098  13803  41819
18     20  영등포구  400241  376740  23501  63547
19     21   동작구  394649  386017   8632  67470
20     22   관악구  500336  486375  13961  80686
21     23   서초구  413677  409823   3854  61404
22     24   강남구  537338  532577   4761  79575
23     25   송파구  668261  662607   5654  99854
24     26   강동구  465097  461300   3797  75477

In [19]:
new_df.drop('index', inplace=True, axis=1)
new_df

       구     인구수     한국인    외국인    고령자
0    종로구  153684  144275   9409  28064
1     중구  131450  122173   9277  24742
2    용산구  236518  222169  14349  39461
3    성동구  291609  285073   6536  46896
4    광진구  353110  340707  12403  52604
5   동대문구  352592  337982  14610  62963
6    중랑구  393600  389043   4557  72851
7    성북구  442680  433150   9530  75719
8    강북구  300824  297384   3440  64961
9    도봉구  318100  316098   2002  65122
10   노원구  514445  510486   3959  89426
11   은평구  476013  472259   3754  88418
12  서대문구  317075  305866  11209  55012
13   마포구  378629  368331  10298  55168
14   양천구  449378  446182   3196  69953
15   강서구  578426  573046   5380  93924
16   구로구  419984  396017  23967  73864
17   금천구  244901  231098  13803  41819
18  영등포구  400241  376740  23501  63547
19   동작구  394649  386017   8632  67470
20   관악구  500336  486375  13961  80686
21   서초구  413677  409823   3854  61404
22   강남구  537338  532577   4761  79575
23   송파구  668261  662607   5654  99854
24   강동구  465097  461300   3797  75477

In [ ]:
## (4) 각 구별 전체 인구를 이용해서 구별 '외국인비율'과 '고령자비율' 컬럼을 추가하고, 소수점 첫째자리 반올림하기
### - 외국인 비율: 외국인 / 인구수 * 100
### - 고령자 비율: 고령자 / 인구수 * 100

In [ ]:
# (5) 인구수별로 내림차순 정렬하기
# (6) 외국인 / 외국인비율로 내림차순 정렬하기

In [ ]:
new_df = new_df.sort_values(by='외국인', ascending=False)
new_df = new_df.sort_values(by='외국인비율', ascending=False)
new_df

In [ ]:
# (9) 구별 인구수 데이터를 바 그래프로 내림차순 정렬 후 시각화하기
visual_df['인구수'].plot(kind='bar', grid=True)

In [ ]:
# (9) 구별 인구수 데이터를 바 그래프로 내림차순 정렬 후 시각화하기
matplotlib.rcParams["font.family"] = "Malgun Gothic" # Windows
plt.rcParams['font.family'] = "AppleGothic" # Mac
visual_df['인구수'].plot(kind='bar', grid=True)

In [1]:
# (9) 구별 인구수 데이터를 바 그래프로 내림차순 정렬 후 시각화하기
plt.rcParams["font.family"] = "Malgun Gothic" # Windows
plt.rcParams['font.family'] = "AppleGothic" # Mac
visual_df['인구수'].sort_values().plot(kind='barh', grid=True)

df.sort_values(by='인구수')
df['인구수'].sort_values()

NameError: name 'plt' is not defined

In [6]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\jung\appdata\local\programs\python\python311\lib\site-packages (4.9.2)

[notice] A new release of pip available: 22.3.1 -> 23.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 kB 3.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd
url = 'https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%ED%99%98%EC%9C%A8&oquery=%EB%84%A4%EC%9D%B4%EB%B2%84%EC%A6%9D%EA%B6%8C&tqi=ivLlxsprvN8ssMrrvSGssssssSC-315415'

df = pd.read_html(url)[0]

from datetime import datetime

current_time = datetime.now().strftime("%Y-%m-%d") # 2023-04-27
print(current_time)

ImportError: lxml not found, please install it